@font-face {
  font-family: 'Digital';
  src: url('fonts/Digital_Mono_Italic.ttf');
}

#stage {
  height: 45vh;
}

.number {
  color: #107065;
  font-family: 'Digital';
  font-size: 30vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#raffles {
  font-size: 2vw;
  text-align: center;
  color: #107065;
  margin-left: 10%;
  width: 80%;
  height: 300px;
  word-wrap: break-word;
}

.btn-default {
  width: 50%;
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
